---
http_interactions:
- request:
    method: get
    uri: https://epayment-test.bbs.no/Netaxept/Register.aspx?amount=100&currencyCode=NOK&orderDescription=DESCRIPTION&orderNumber=1&recurringType=S&redirectUrl=http://localhost:3000/complete_order&terminalVat=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Exception xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n  <Error xsi:type=\"AuthenticationException\">\r\n
        \   <Message>Test: Unable to authenticate merchant (credentials not passed)</Message>\r\n
        \ </Error>\r\n</Exception>"
  recorded_at: Sun, 16 Feb 2014 17:06:53 GMT
- request:
    method: get
    uri: https://epayment-test.bbs.no/Netaxept/Register.aspx?amount=100&currencyCode=NOK&merchantId=12001113&orderDescription=DESCRIPTION&orderNumber=1&recurringType=S&redirectUrl=http://localhost:3000/complete_order&terminalVat=20&token=M!s8/b3Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<RegisterResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n  <TransactionId>e6a0f96afff3449a87f7f52ae9fe1089</TransactionId>\r\n</RegisterResponse>"
  recorded_at: Sun, 16 Feb 2014 17:40:25 GMT
- request:
    method: get
    uri: https://epayment-test.bbs.no/Netaxept/Register.aspx?amount=100&currencyCode=NOK&orderDescription=DESCRIPTION&orderNumber=1&recurringType=S&redirectUrl=http://localhost:3000/complete_order&terminalVat=20&token=M!s8/b3Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Exception xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n  <Error xsi:type=\"AuthenticationException\">\r\n
        \   <Message>Test: Unable to authenticate merchant (credentials not passed)</Message>\r\n
        \ </Error>\r\n</Exception>"
  recorded_at: Sun, 16 Feb 2014 17:46:40 GMT
recorded_with: VCR 2.8.0
